@font-face {
  font-family: 'SF Pro Display Semi Bold';
  src: url('/assets/fonts/SF-Pro-Text-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('/assets/fonts/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display Ultra Light';
  src: url('/assets/fonts/SF-Pro-Text-Ultralight.otf') format('opentype');
}

.about {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #FFFFFF;
}

.about h2 {
  font-family: 'SF Pro Display Semi Bold';
  font-size: 40px;
  margin-bottom: 1rem;
}

.about p {
  font-family: 'SF Pro Display Ultra Light';
  font-size: 20px;
  margin-bottom: 2rem;
  color: #474747;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 90rem;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
  padding: 2rem 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.about-content img {
  flex: 1 1 40%;
  max-width: 40%;
  border-radius: 4px;
  object-fit: cover;
}

.content-card {
  flex: 1 1 10%;
  background-color: #E6EFFF;
  padding: 2rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-card span {
  font-family: 'SF Pro Display Regular';
  font-size: 18px;
  color: #538DFF;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.content-card h4 {
  font-family: 'SF Pro Display Semi Bold';
  font-size: 20px;
  margin-bottom: 1rem;
  color: #000000;
}

.content-card p {
  font-family: 'SF Pro Display Ultra Light';
  font-size: 16PX;
  color: #474747;
}